

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Add User</title>
    <style>
    body{
    background:lightblue;
    font-family:Helvetica, sans-serif;
}
.nav-list{
    list-style-type: none;
    padding: 0;

   
}
li{
    width: 60px;
    display: inline-block;
    margin:10x;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}
input{
    width:30%;
    height:30px;
    margin-bottom: 5px;
    border-radius: 2px;
    text-align: left;
    color: green;
    border:none;
}

label{
    display: inline-block;
    min-width: 100px;
}
</style>
</head>
<body>

    <form method="post" action = "/users">
        <label for="firstname">First Name:</label>
        <input id ="firstname" type="text" name="firstname" placeholder="First name" /><br/>
        <label for="lastname">Last Name:</label>
        <input id ="lastname" type="text" name="lastname" placeholder="Last name" /><br/>
        <label for="email">Email:</label>
        <input id ="email" type="email" name="email" placeholder="Email" /><br/>
        <input id ="photo" type="file" name="photo" placeholder="Photo" /><br/>
        <label for="message">Message:</label><br />
        <textarea id ="firstname" rows="10" cols="50" name="content"/>Leave a message</textarea> <br />
        <button type="submit" value ="Add" /> Add User</button>
    </form>

</body>
</html>