<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Not Found</title>
    <style>
        h1{
            color:brown;
        }
    </style>
</head>
<body>
    <h1>User was not Found.</h1>
</body>
</html>